name: Config Update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 18 * * 5'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup sing-box
      run: |
        set -Eeuo pipefail
        wget -O sing-box.deb https://github.com/SagerNet/sing-box/releases/download/v1.12.10/sing-box_1.12.10_linux_amd64.deb
        sudo dpkg -i sing-box.deb

    - name: Download content
      run: |
        [ -d rule ] || mkdir rule
        curl -L https://anti-ad.net/easylist.txt -o ./rule/anti-ad.txt

    - name: Remove unwanted domains
      run: |
        sed -i '/services\.googleapis\.cn/d' ./rule/anti-ad.txt
        sed -i '/googleapis\.cn/d' ./rule/anti-ad.txt
        sed -i '/xn--ngstr-lra8j\.com/d' ./rule/anti-ad.txt
        sed -i '/doubleclick\.net/d' ./rule/anti-ad.txt
        sed -i '/googlesyndication\.com/d' ./rule/anti-ad.txt
        sed -i '/github\.com/d' ./rule/anti-ad.txt

    - name: Convert sing-box rule set
      run: |
        sing-box rule-set convert --type adguard --output ./rule/anti-ad.srs ./rule/anti-ad.txt

    - name: Commit and push
      run: |
        git config --global user.email "action@github.com"
        git config --global user.name "GitHub Action"
        git add ./rule/*.srs
        git add ./rule/*.txt

        if git diff --staged --quiet; then
          echo "No changes to commit"
          exit 0
        else
          git commit -m "Update rules"
          git push
        fi

    - name: Clean up Workflow Runs
      uses: Mattraks/delete-workflow-runs@v2
      with:
         token: ${{ secrets.PAT_TOKEN }}
         repository: ${{ github.repository }}
         retain_days: 1
         keep_minimum_runs: 0
